body {
  min-width: 1040px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  width: 146px;
  padding: 10px;
  font: inherit;
  vertical-align: top;
  text-align: center;
  color: #a38b70;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  border: 2px solid #a38b70;
  border-radius: 2px;
}

.btn:hover {
  color: #8d745a;
  border-color: #8d745a;
}

.btn:active {
  color: rgba(141, 116, 90, 0.3);
  border-color: #8d745a;
}

h1 {
  font-size: 36px;
  line-height: normal;
}

h2 {
  font-size: 20px;
  line-height: normal;
}

aside {
  margin: 20px 0;
  color: #c4c4c4;
}

pre,
code {
  font-family: "Courier New", "Courier", monospace;
  color: #6a2cce;
}

pre {
  line-height: normal;
}

blockquote {
  padding-left: 14px;
  border-left: 2px solid #6a2cce;

  color: #6a2cce;
}

cite {
  color: #222222;
}

time {
  color: #6a2cce;
}

a[href] {
  color: #0099ef;
  text-decoration: underline;
}

.avatar {
  border-radius: 50%;
}

.blog-navigation {
  margin-bottom: 30px;
  padding: 20px;

  background-color: #4470c4;
  border: 5px solid #2d508f;

  color: #ffffff;
}

.blog-navigation h2 {
  margin-top: 0;
}

.blog-navigation ul {
  list-style: none;
  padding-left: 0;
}

.blog-navigation li {
  margin-bottom: 5px;
}

.blog-navigation a {
  color: #ffffff;
}

.skills dd {
  margin: 0;
  margin-bottom: 10px;

  background-color: #e8e8e8;
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}

.skills-level-ok {
  background-color: #47bb52;
}

.days {
  list-style: none;
  padding-left: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure img {
  vertical-align: middle;
  border: 8px solid rgb(202, 224, 248);
}

figcaption {
  width: 502px;
  padding-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-style: italic;
  text-align: center;
  background-color: rgb(202, 224, 248);
}

.pagination a {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

.pagination {
  text-align: center;
  color: #888888;
}

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #ffd0bf;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}

.section-title {
  margin: 0;
  margin-right: 180px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.feedback {
  padding-top: 60px;
  padding-bottom: 70px;
}

.feedback .container {
  position: relative;
}

.feedback .section-title {
  max-width: 500px;
}

.feedback-tip {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
}

.feedback-form {
  width: 630px;
  padding-right: 390px;
  background-image: url("img/write.jpg");
  background-repeat: no-repeat;
  background-position: 100% 40px;
}

.feedback-form-group {
  margin-bottom: 15px;
}

.feedback-form-group-left-part {
  float: left;
}

.feedback-form-group-right-part {
  float: right;
}

.feedback-form-group-left-part,
.feedback-form-group-right-part {
  width: 290px;
}

.feedback-form-group label {
  display: inline-block;
  padding: 5px 0;
  padding-left: 17px;
  font-size: 12px;
  text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  padding: 9px 15px;
  font: inherit;
  color: inherit;
  border: 2px solid #d5d5d5;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
  border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
  border-color: #8d745a;
}

.feedback-form textarea {
  display: block;
  min-height: 120px;
}

.checkbox-area {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 17px;
  border-bottom: 1px solid #d5d5d5;
}

.checkbox-area input[type="checkbox"] {
  margin: 0;
  margin-right: 5px;
}

.feedback-form .btn {
  margin-top: 40px;
  color: #ffffff;
  background-color: #a38b70;
}

footer {
  margin-top: 30px;
}
